/*  your css code here. If applicable */
h1{
	background-color:"#2a7ae2";
	
}

*  your css code here. If applicable */
h2{
	background-color:"#f44336";
	
}

  your css code here. If applicable */
h3{
	background-color:"#4caf50";
	
}
your css code here. If applicable */
h4{
	background-color:"#ff9800";
	
}
our css code here. If applicable */
h5{
	background-color:"#607d8b";
	
}

our css code here. If applicable */
h6{
	background-color:"##ffeb3b";


	
}

